.card {
  border-radius: 15px;
  background-color: #f8f9fa;
}

.bg-dark {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #333;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}