.estoque-container {
  padding: 40px 0;
  background-color: #f8f9fa; // Cor de fundo leve só para essa área
  min-height: 90vh;
}

.main-title {
  font-weight: 800;
  color: #212529;
  margin-bottom: 10px;
}

.sub-title {
  color: #6c757d;
  font-size: 1.1rem;
  margin-bottom: 40px;
}